/*
Theme Name: IOT StoreOn
Theme URI: http://www.iotargeting.com/
Description: n/a
Author: CAS
Author URI: http://www.iotargeting.com/
Version: 1.0
*/

@import "compass";
@import "compass/reset";

@import "_partials/mixins";
@import "_partials/variables";
@import "_partials/typography";
@import "_partials/product-category";
@import "_partials/single-product";
@import "_partials/shop";
@import "_partials/cartcheckout";
@import "_partials/my-account";
@import "_partials/contact-us"; 
@import "_partials/faq"; 
@import "_partials/posts"; 
@import "_partials/404";
@import "_partials/targets"; 
@import "_partials/dealer-product-info"; 


@import url('https://fonts.googleapis.com/css?family=Anton|Lato:400,700,900');

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	background-color: transparent;
	border-radius: 5px;
	@include p-template($text-color, $font-size-xsmall);

	a.button {
		@include standard-button ($font-size-xsmall);
	}
}

section {
	outline: none;
}

html,body {
	margin: 0; 
	padding: 0; 
	height: 100%; 
	width: 100%;
}

#sidebar {
	display: none;
}

h2.entry-title-link a{
	@include header-template(1.2em, $text-color);
}

h2.entry-title {
	@include header-template($font-size-large, $text-color);
}

#mainNav {
	.navbar.navbar-default {
		text-align:center;
		@include bp-sm-min { 
			text-align:left;
		}
		margin-bottom: 0;
 		border: 0;
 		background-color: $main-color;
 		border-radius: 0px;

 		#left-nav-ul {
	 		@include bp-sm-max {
	 			    margin: 0px -15px 0px;
	 		}
	 	}

		#left-nav-ul li {

 			a {
				font-family: $base-font-family;
				font-size: $font-size-xsmall;
				color: $text-color-inverse;
				text-transform: uppercase;
				font-weight: 700;
			}
		}

		#left-nav-ul li:first-child {
			background-color: $highlight-color;
			position:relative;

			a {
				color: $text-color;
			}

			&:before{
				@include bp-sm-min { 
					position: absolute;
					background-color: $highlight-color;
					width: 33em;
					height: 3.6em;
					content:'';
					top: 0px;
					right: 0px;
					width: 1000%;
					height: 100%;
					z-index: 0;
					margin-right: 100%;
				}
			}
		}

		#left-nav-ul li:nth-of-type(n+2) {
			@include bp-sm-max {
	 			display: none;
	 		}

			a {
				padding: 15px 0px 0px 15px;
/* 				i {
					color: $highlight-color;
					font-size: 1.6em;
					padding-left: 20px;
				} */

				&:hover {
					i:before {
						color: $text-color-inverse;
					}
				}
			}
		}

		.nav.navbar-right {
			@include bp-sm-max {
				margin: 0px;
			}
			a.nav-cart {
				float: right;
				margin-top:15px;
				margin-right: 15px;
				padding: 0px;
				@include bp-sm-max {
					margin-top:0px;
					margin-right: 0px;
					float: none;
				}
				@include p-template ($text-color-inverse, $font-size-xsmall);
					 &:before {
					 	padding-right: 3px;
						font-family: FontAwesome;
						content:"\f291";
				} 
			}

			.navbar-form {
				margin-top:15px;
				padding: 0px;
				width: 200px;
    			padding: 0px;
				@include bp-sm-max {
					float: left;
					margin-top:8px;
					border: 0px;
					padding: 0px;
					min-width: 100%;
				}

				form.searchform {
					input[type="text"] {
					    border-radius: 20px;
					    border: 1px solid $main-color;
					    max-width: 60%;
					}
					input[type="submit"] {
						border: 0px;
						background-color: $main-color;
						@include p-template ($text-color-inverse, $font-size-xsmall);
						text-transform: uppercase;
						font-weight: 700;
						@include bp-md-max {
							max-width: 50%;
						}
					}
				}
			}

			#sm-buttons-header {
				@include bp-sm-max {
	 				display: none;
	 			}
				margin-top:15px;
				a {
					color: $highlight-color;
					font-size: 1em;
					text-decoration: none;
					.fa-stack {
						color: $highlight-color;
						&:hover {
							@include transitions;
							color: $main-color;
							border: 1px solid $highlight-color;
							border-radius: 50px;
						}
						.fa-stack-1x {
							color: $main-color;
							&:hover {
								transition: 0.2s;
								color: $highlight-color;
							}
						}
					}
				}
			}
		}
	}
}

#secondaryNav {
	.navbar.navbar-inverse {
		margin-bottom: 0;
 		border: 0;
 		border-radius: 0px;
 		background-color: $accent-color;
		text-align:center;
			@include bp-sm-min { 
				text-align:left;
			}

 		img {
 			max-height: 6.25em;
 			padding: 0.5em;
 		}

 		.nav.navbar-nav.navbar-right{
 			padding: 1em 0px;
 			li {
 					display:inline-block;
					@include bp-sm-min { 
						display:block;
					}
 			}

 			li a {
 				@include header-template($font-size-medium, $text-color-inverse);
 					&:hover {
 						i:before {
 							@include transitions;
							color: transparent;
						}
					}

					&:hover {
						i:after {
							left: 0;
							position: absolute;
							font-family: "foundation-icons";
							content: "\f1f5";
							color: $highlight-color;
						}
					}

 				i {
					position: relative;
				 	color: $highlight-color;

 				}
			}
 		}
 	}
}

#cta2{
	padding: 5px 0px 5px;
	background-color: $main-color;
	p {
		a {
			margin: 0px;
			font-family: $base-font-family;
			font-size: 1em;
			color: $text-color-inverse;
			text-transform: uppercase;
		}
	}
}

.logo {
	max-height:88px;
}

#header-img {
	position:relative;
	margin: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    height: 300px;

    .overlay {
    	@include bp-sm-min {
    		display: none;
    	}
    	background-color: rgba(0,0,0,0.4);
    	position:absolute;
    	top:0;
    	bottom:0;
    	right:0;
    	left:0;
    }

	#header-text {
    	bottom:0;
    	position: absolute;

   		h1 {
			@include header-template(10em, $text-color-inverse);
			@include bp-sm-max {
				font-size:6em;
			}
			@include bp-iphone-max {
				font-size:4em;
			}
			em {
				font-size: 0.3em;
				display:block;
			}

			img {
				height: 200px;

				@include bp-sm-max {
					font-size:6em;
					padding-left: 0px; 
				}
				@include bp-iphone-max {
					height: 150px;
    				padding-left: 0px;
				}
			}
		}
	}

}

.blog-post {
	.blog-post-title {
		padding-left: 15px;
		@include header-template($font-size-large, $text-color);
	}
}

#cta {
	background-color: $indiegogo-color;
	p {
		margin: 0;
		padding: 5px 0px 5px 0px;
	}
	a {
		color: $text-color-inverse;
		font-family: $base-font-family;
		text-transform: uppercase;
		font-size: $font-size-medium;
		text-decoration:none;
		em {
			font-family: $header-font-family;

		}
		&:hover {
			text-decoration:none;
		}
	}
}

#main-featured-product {
	padding-top: 4.5em;
	padding-bottom:4.5em;
	#main-featured-product-image {
		img {
			max-width: 100%;
			padding:20px;
			display: block;
    		margin: 0 auto;
		}
		.embed-responsive {
			@include bp-sm-min {
				margin-top: 40px;
			}
		}
	}
	#main-featured-product-text {
		@include featured-product-template;
		a {
			display: none;
			padding: 5px 5px 5px 15px;
			@include button-template ($main-color,$text-color-inverse,$font-size-xsmall);
			
			i {
				font-size: 1.3em;
				padding-left: .25em;
				padding-right: .15em;
				position: relative;
			 	color: $text-color-inverse;

				&:hover:before {
					@include transitions;
					color: transparent;
				}

				&:hover:after {
					padding-left: .15em;
					padding-right: .05em;
					left: 0;
					position: absolute;
					font-family: "foundation-icons";
					content: "\f1f5";
					color: $highlight-color;
				}
			}
			

/* 			i.fa-circle {
				margin-left: .2em;
    			font-size: 1.3em;
    			margin-top: -1.2em;
   				margin-bottom: -.2em;
    			overflow: hidden;
			}
			i.fi-target-two {
				margin-left: .17em;
    			font-size: 1.325em;
   				margin-top: -1.2em;
    			margin-bottom: -.35em;
    			overflow: hidden;
			}

			@include target-icon-hover($text-color-inverse, $highlight-color, .15em, .05em); */
		}

		ul li i {
			@include list-icon-template;
		}
	}
}

#product-preview {
	.preview {
	   height: auto !important;
	} 

	#product-preview-1 {
		background-color: $main-color;
		@include product-preview;
	}

	#product-preview-2 {
		background-color: darken($main-color, 10%);
		@include product-preview;
	}

	#product-preview-3 {
		background-color: darken($main-color, 20%);
		@include product-preview;
	}

	p.preview-desc {
		padding-bottom: 1.325em;
		margin: 0;
	}

	p.preview-link {
		a {
			text-decoration: none;
			font-size: $font-size-xsmall;
			&:hover i:before {
					@include transitions;
					color: transparent;
				}

				&:hover i:after {
					padding-left: 0.35em;
					left: 0;
					position: absolute;
					font-family: "foundation-icons";
					content: "\f1f5";
					color: $highlight-color;
				}
			i {
				font-size: 1.3em;
				padding-left: 0.425em;
				position: relative;
			 	color: $text-color-inverse;

			 	-webkit-transition: all .5s; /* Safari */
   				transition: all .5s;
			}
		}
	}
}

#photo-strip {
	.row {
		.col-lg-2 {
			padding: 0px;

   		 	img {
 			    max-width: 100%;
 			    height: auto;

			    position:relative;
				margin: 0px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
   		 	}
		}
	}
}

#featured-products {
	padding-top: 3em;
	p {
		text-align: center;
		a.btn {
			padding: 5px 5px 5px 15px;
			font-family: $header-font-family;
			font-size: $font-size-small;
			text-transform: uppercase;
			background-color: $main-color;
			color: $text-color-inverse;
			border: 1px solid $main-color;
			border-radius: $button-border-radius;
			margin: auto;
			

			&:hover i:before {
				@include transitions;
				color: transparent;
			}

			&:hover i:after {
				padding-left: .2em;
				left: 0;
				position: absolute;
				font-family: "foundation-icons";
				content: "\f1f5";
				color: $highlight-color;
			}

			i {
				font-size: 1.5em;
				padding-left: .25em;
				padding-right: .15em;
				position: relative;
				color: $text-color-inverse;
			}
		}
	}
}

#how-it-works {
	#how-it-works-image {
 		img {
			max-width: 100%;
			padding-top: 1em;
			display: block;
    		margin: 0 auto;
		}
	}

	#how-it-works-text {
		padding: 8em 1em 8em 1em ;
		
		h1 {
			@include header-template($font-size-large, $text-color);
		}
		p {
			@include p-template-small ($text-color);
		}
	}
}

#headline-2 {
	background-color: $highlight-color;
	padding: 6em 0em 6em 0em;
	h1 {
		@include header-template($font-size-large, $text-color);
		text-align:left;
		@include bp-sm-min {
				@include header-template($font-size-xlarge, $text-color);
				text-align:center;		
		}
	}

	h2 {
		@include p-template-small ($text-color);
		text-transform: uppercase;
		text-align: left;

	}

	p {
		@include p-template-small ($text-color);
		text-align: left;
	}
}

#headline-1 {
	position:relative;
	margin: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color:white;

    .overlay {
    	background-color: rgba(0,0,0,0.4);
    	position:absolute;
    	top:0;
    	bottom:0;
    	right:0;
    	left:0;
    }

	.container {
		margin: 0 auto;
    	padding: 0;
	}

	#headline-caption {
		padding: 6em 0;
    	text-align: center;
 
    	h1 {
			@include header-template($font-size-large, $text-color-inverse);
		
			@include bp-sm-min {
				@include header-template($font-size-xlarge, $text-color-inverse);
					margin:0px;

			}
		}

		p {
			@include p-template-small ($text-color-inverse);
			max-width: 80%;
    		margin: 0 auto;
    		@include bp-sm-min {
    			max-width: 60%;
    		}
		}

		a {
			color: $text-color-inverse;
			text-decoration: underline;
		}
	}
} 

.footer {
	background-color: $footer-color;
	padding-top: .25em;
	h1{
		font-family: $header-font-family;
		color: $text-color-inverse;
	}

	p {
		font-family: $base-font-family;
		font-size: $font-size-xsmall;
		color: $text-color-inverse;
	}

	li {
		i {
			padding-right: .5em;
			font-size: 1em;
		}

		a {
			font-family: $base-font-family;
			font-size: 1.2em;
			color: $text-color-inverse;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	#sm-buttons-footer {
		padding: .25em 0em 1em 0em;
			ul {
				margin: 0;
				a {
					font-size: 1.2em;
					text-decoration: none;
					.fa-stack {
						color: white;
						&:hover {
							@include transitions;
							color: $accent-color;
							border: 1px solid white;
							border-radius: 50px;
						}
						.fa-stack-1x {
							color: $accent-color;
							&:hover {
								transition: 0.2s;
								color: white;
							}
						}
						
					}
				}
			}
	}

	#copyright {
		background-color: $highlight-color;
		padding-bottom: 5px;
		a {
			color: $text-color;
			font-family: $base-font-family;
			font-size: $font-size-xsmall;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
