@import "mixins";
@import "variables";
@import "typography";

/* Cart is empty */
p.cart-empty {
	padding: 1em 0em; 
	@include p-template ($text-color, $font-size-xsmall);
}
p.return-to-shop {
	font-family: $header-font-family;
	font-family: $header-font-family;
	font-size: $font-size-small;
	text-transform: uppercase;

	a.button {
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: $white;
		border: 2px solid $text-color;
		border-radius: $button-border-radius;
		color: $text-color;

		&:hover {
			background-color: $main-color;
			border: 2px solid $main-color;
			border-radius: $button-border-radius; 
			color: $text-color-inverse;
		}
	}
}


/* Cart item data */
#cart {
	.woocommerce-cart-form{
		.shop_table  {
			border: 2px solid $accent-color;
		    border-radius: 0px;
		}
		thead {
			th {
				/*border-right: 1px solid $accent-color;*/
				@include p-template ($accent-color, $font-size-xsmall);
				font-weight: 700;
			}
		}
		tbody {
			td {
				border-top: 1px solid $accent-color;
				/*border-right: 1px solid $accent-color;*/
				@include p-template ($accent-color, $font-size-xsmall);
			}
			.product-remove a{
				color: $main-color!important;

				&:hover {
					color: $white!important;
    				background: $main-color!important;
				}
			}

			.product-quantity input {
				border: 1px solid $accent-color;
				border-radius: $button-border-radius;
				margin: auto;
			}

			.coupon {
				input[type="text"] {
					@include input-text;
				    width: 60%;
				}
			}

			button[type="submit"] {
				@include standard-button ($font-size-xsmall);
			}
		}
	}

	.cart-collaterals {
		.cart_totals {
			.shop_table {
				border: 2px solid $accent-color;
		    	border-radius: 0px;
				tbody {
					th{
						@include p-template ($text-color, $font-size-xsmall);
						font-weight: 700;
					}
					td {
						@include p-template ($text-color, $font-size-xsmall);
					}
				}
			}
			.wc-proceed-to-checkout{
				a {
					@include highlight-button($font-size-small);
				}
			}
		}
	}
}

/*Coupons */
.woocommerce-form-coupon-toggle {
	 .woocommerce-info {
	 	@include p-template ($text-color, $font-size-xsmall);
	 }
}

/*Checkout*/
#checkout {
	h3 {
		@include header-template($font-size-medium, $text-color);
	}

	form.checkout {
		.woocommerce-billing-fields, .woocommerce-shipping-fields, .woocommerce-additional-fields, .woocommerce-account-fields {
			p {
				label {
					@include p-template ($text-color, $font-size-xsmall);
					font-weight: 700;
				}
				input, textarea {
					@include input-text;
				   
				}
				input {
					height: 30px;
				}
			} 
			
			.checkbox input[type=checkbox] {
				position: inherit;
			}
		}

		#your-order {
			.woocommerce-checkout-review-order {
				.woocommerce-checkout-review-order-table {
					border: 2px solid $accent-color;
					border-radius: 0px;
				    thead {
				    	@include p-template ($text-color, $font-size-xsmall);
						font-weight: 700;
				    }
					tbody,tfoot {
						tr {
							td, th {
								@include p-template ($text-color, $font-size-xsmall);
								border-top: 1px solid $accent-color;
							}
						}
					}
				}
				.woocommerce-checkout-payment {
					background: $white;
					ul.methods {
						border-bottom: 1px solid $accent-color;
					}
					label {
						@include p-template ($text-color, $font-size-xsmall);
					}
					p {
						@include p-template ($text-color, $font-size-xsmall);
					}

					.place-order {
						.woocommerce-terms-and-conditions-wrapper {
							.checkbox input[type=checkbox] {
								position: inherit;
							}
						}

						button[type="submit"] {
							width: 100%;
							@include highlight-button ($font-size-small);
						}
					}
				}
			}
		}
	}
}

.woocommerce-order{
	h2 {
		@include header-template($font-size-small, $text-color);
	}

	p {
		@include p-template ($text-color, $font-size-xsmall);
	}

	.woocommerce-thankyou-order-received {
		@include p-template ($text-color, $font-size-small);
		padding-bottom: .2em;
	}

	ul.woocommerce-order-overview {
		border: 2px solid $accent-color;
		border-radius: 0px;
		margin-bottom: 1em;

		li {
			margin: 1em 1em 1em 1em;
			@include p-template ($text-color, $font-size-xsmall);
		}
	}

	.woocommerce-order-details {
		table {
			border: 2px solid $accent-color;
			border-radius: 0px;

			thead {
				@include p-template ($text-color, $font-size-xsmall);
			}

			tbody,tfoot {
				tr {
					td, th {
						@include p-template ($text-color, $font-size-xsmall);
						border-top: 1px solid $accent-color;
					}
				}
			}
		}
	}

	.woocommerce-customer-details {
		address {
			border: 2px solid $accent-color;
			border-radius: 0px;
			@include p-template ($text-color, $font-size-xsmall);
		}
	}
}