@import "_partials/mixins";
@import "_partials/variables";
@import "_partials/typography";

#post {
	span.nf-form-title {
		display: none;
	}

	.nf-form-fields-required {
		display: none;
	}

	.nf-error-msg {
		color: $text-color-inverse;
	}

	.nf-form-errors{
		color: $text-color-inverse;
	}

	.nf-form-content{
		label {
			@include p-template-small ($text-color-inverse);
		}

		input[type="text"] {
		 	height: 2.5em;
		}

		input[type="tel"]{
			height: 2.5em;

		}

		input[type="email"]{
			height: 2.5em;
		}

		input[type="button"] {
			@include button-template ($text-color-inverse,$main-color,$font-size-small);
			padding: 0.3125em 0.9375em 0.3125em 0.9375em;
			display: block; 
			margin: 0 auto; 
			text-align: center;
		}
	}
	span.ninja-forms-req-symbol {
   		color: white;
	}
	.nf-response-msg {
		padding: 2em 0em 2em 0em;
		font-family: $header-font-family;
		color: $text-color-inverse;
		font-size: $font-size-xsmall;
		text-align: center;	
	}
	.nf-error-msg.nf-error-field-errors {
	    text-align: center;
	    padding: 20px;
	}
}