

@import "_partials/mixins";
@import "_partials/variables";
@import "_partials/typography";

#dealer-product-info {
	padding-bottom: 1.5em;
	background-color: white; 
	
	h2{
		@include header-template($font-size-large, $text-color);
		text-align: center;	
	}

	h3, h4{
		@include header-template(2.5em, $text-color);
		text-align: left;	
	}

	h3 {
		background-color: $highlight-color;
		padding: .3em .2em;
	}

	p {
		@include p-template-small ($text-color);
		text-align: left;	
		a {
			font-family: $base-font-family;
			color: $main-color;
			text-decoration: underline;
		}
	}

	//Styling for password form
	form.post-password-form {
		p {
			text-align: center;
		}
		input[type="password"] {
			color: $accent-color;
		}
		input[type="submit"] {
			@include button-template ($text-color,white,$font-size-xsmall);
			padding: 0em 0.9375em 0em 0.9375em;
			margin: 0 auto; 
		}
	}

	//Styling shared for all tables
	table {
		tbody {
			tr {
				td {
					@include p-template-small ($text-color);
					border-top: none;
				}
			}
		}
	}

	//Specific styling for product specification table only
	table#tablepress-product-specifications,#tablepress-dealer-pricing {
		thead {
			tr th {
				@include header-template($font-size-small, $text-color-inverse);	
				background-color: $main-color;
				border-bottom: none;
				text-align: center;
			}
		}
		tbody {
			tr td {
				text-align: center;
			}
			td.column-1 {
				text-align: left;
				border-right: 10px solid white;
			}
			tr.odd {
				td {
					background-color: lighten($highlight-color, 30%);
				}
			}
		}
	}

	#table-container {
		margin-left: 0px;
		padding-left: 0px;
		#table-col {
			margin-left: 0px;
		}
	}
}