@import "_partials/mixins";
@import "_partials/variables";
@import "_partials/typography";

#post {
	.arconix-faq-wrap {
		margin: 0px;
		border: 0px;
		background-color: $main-color; 

		.arconix-faq-title {
			@include p-template ($text-color-inverse, $font-size-small);
			font-weight: 700;
		}

		.arconix-faq-content {
			@include p-template ($text-color-inverse, $font-size-xsmall);
		}
	}
}