/* mixins.scss */

/*Variables*/
$white: #FFFFFF;
$main-color: #B91514;
$highlight-color: #EBE732;
$accent-color: #333333; 
$footer-color: $accent-color;
$indiegogo-color: #EB1478; 

$button-border-radius: 30px; 
$border: 2px solid;
$border-radius: 15px;

//button mixins
@mixin button-template ($bg-color,$txt-color,$txt-size){
	@include transitions;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: $header-font-family;
	font-size: $txt-size;
	text-transform: uppercase;
	background-color: $bg-color;
	color: $txt-color;
	border: $border $txt-color;
	border-radius: $button-border-radius;
	margin: auto;

	&:hover {
		@include transitions;
		background-color:$txt-color;
		font-family: $header-font-family;
		font-size: $txt-size;
		text-transform: uppercase;
		color: $bg-color;
		border: $border $bg-color;
		border-radius: $button-border-radius;
		margin: auto;
	}
}

@mixin preview-button {
	@include transitions;
	font-family: $header-font-family;
	font-size: $font-size-xsmall;
	text-transform: uppercase;
	color: $text-color-inverse;
	margin: auto;
}

@mixin transitions {
	-webkit-transition: width .1s; /* Safari */
 	transition: .1s;
}

//header mixins
@mixin header-template($font-size, $font-color) {
	font-family: $header-font-family;
	text-transform: uppercase;
	color: $font-color;
	font-size: $font-size;
}

//p mixins
@mixin p-template ($font-color, $font-size) {
	font-family: $base-font-family;
	font-size: $font-size;
	color: $font-color;
}

@mixin p-template-small ($font-color) {
	font-family: $base-font-family;
	font-size: $font-size-small;
	color: $font-color;
}

@mixin list-template {
	@include header-template($font-size-small, $text-color);
	span {
		padding-right: 1em;
	}
	li {
		padding-top: .5em;
	}
}

@mixin product-preview {
	padding: 3em 3em 3em 3em;
	h2 {
		@include header-template($font-size-large, $text-color-inverse);
	}
	p {
		@include p-template-small ($text-color-inverse);
	}
	a {
		@include preview-button;
		span {
		 	padding-left: .625em;
		 }
	}
}

@mixin featured-product-template {
	h1 {
		@include header-template($font-size-large, $text-color);
	}
	p {
		@include p-template-small ($text-color);
	}
	ul {
		@include list-template;	
	}
}

@mixin list-icon-template {
		position: relative;
		margin-right: .625em;

	    &:before {
	 		color: $highlight-color;
	    }

	    &:after {
	    	left: 0;
	    	position: absolute;
	    	content: "\f058";
	    }
}

@mixin featured-product-template2 {
	padding-top: 4.5em;
	padding-bottom:4.5em;
	@include featured-product-template;
	img {
			max-width: 100%;
			padding:20px;
			display: block;
    		margin: 0 auto;
	}
	ul li i {
		@include list-icon-template;
	}
}

@mixin target-icon-hover ($circle-color, $target-color, $margin-circle, $margin-target){
	i.fa-circle {
		color: $circle-color;
		margin-right: $margin-circle;
	}

	i.fi-target-two {
		color: $target-color;
		margin-right: $margin-target;
		display: none;
	}

	 &:hover {
 		i.fa-circle {
 			display: none;
 		}
 		i.fi-target-two {
 			display: inline-block;
 		}
 	}

 	&:active {
 		i.fa-circle {
 			display: none;
 		}
 		i.fi-target-two {
 			display: inline-block;
 		}
 	}
}

@mixin target-icon-template ($highlight-color, $text-color, $main-color) {
 	position: relative;
 	color: $highlight-color;

	&:hover:before {
		@include transitions;
		color: $text-color;
	}

	&:hover:after {
		left: 0;
		position: absolute;
		font-family: "foundation-icons";
		content: "\f1f5";
		color: $main-color;
	}
}

@mixin standard-button ($font-size) {
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: $header-font-family;
	font-size: $font-size;
	text-transform: uppercase;
	background-color: $white;
	color: $accent-color;
	border: 2px solid $text-color;
	border-radius: $button-border-radius;
	margin: auto;
	@include transitions;

		&:hover {
			@include transitions;
			font-family: $header-font-family;
			font-size: $font-size;
			background-color: $main-color;
			color: $text-color-inverse;
			border: 2px solid $main-color;
			border-radius: $button-border-radius; 
		}
}

@mixin highlight-button ($font-size) {
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: $header-font-family;
	font-size: $font-size;
	text-transform: uppercase;
	background-color: $main-color;
	color: $text-color-inverse;
	border: 2px solid $main-color;
	border-radius: $button-border-radius;
	margin: auto;
	@include transitions;

		/*&:hover {
			font-family: $header-font-family;
			font-size: $font-size;
			text-transform: uppercase;
			background-color: $text-color-inverse;
			color: $accent-color;
			border: 2px solid $text-color;
			border-radius: $button-border-radius;
			margin: auto;
		}*/
		&:hover {
			@include transitions;
			font-family: $header-font-family;
			font-size: $font-size;
			text-transform: uppercase;
			background-color: $accent-color;
			border: 2px solid $accent-color;
			border-radius: $button-border-radius;
			margin: auto;
		}
}

@mixin input-text {
	border: 1px solid #bbb;
	border-radius: 5px;
}

/* Media Queries*/
$screen-sm-max: 767px;
$screen-sm-min: 768px;
$screen-md-max: 991px;
$screen-md-min: 992px;
$screen-lg-max: 1199px;
$screen-lg-min: 1200px;

@mixin bp-iphone-max {
    @media (max-width: 380px) {
        @content;
    } 
}
@mixin bp-sm-min {
    @media (min-width: $screen-sm-min) {
        @content;
    } 
}
@mixin bp-sm-max {
    @media (max-width: $screen-sm-max) {
        @content;
    } 
}
@mixin bp-md-min {
    @media (min-width: $screen-md-min) {
        @content;
    } 
}
@mixin bp-md-max {
    @media (max-width: $screen-md-max) {
        @content;
    } 
}
@mixin bp-lg-min {
    @media (min-width: $screen-lg-min) {
        @content;
    } 
}
@mixin bp-lg-max {
    @media (max-width: $screen-lg-max) {
        @content;
    } 
}
//@include bp-sm-min {}
/* ==========================================================================
   Media Queries
@media (max-width: $screen-sm-max) { }
@media (min-width: $screen-sm-min) { }
@media (max-width: $screen-md-max) { }
@media (min-width: $screen-md-min) { }
@media (max-width: $screen-lg-max) { }
@media (min-width: $screen-lg-min) { }
========================================================================== */