@import "mixins";
@import "variables";
@import "typography";
.woocommerce {
	padding-bottom: 1em;
}
	#customer_login {
		h2 {
			@include header-template($font-size-medium, $text-color);
		}

		input[type="text"], input[type="password"], input[type="email"]{
			@include input-text;
			height: 30px;
		}

		form.login {
			border: 1px solid $accent-color;
			border-radius: 0px;
			padding-bottom: 30px;
			
			button {
				float: right;
				@include standard-button (1.2em);
			}

			input[type="checkbox"]{
				position: inherit;
			}

			p.woocommerce-LostPassword {
				float: right;
				a {
					@include p-template ($text-color, $font-size-xsmall);
				}
			}
		}

		form.register {
			background-color: $main-color;
			border: 1px solid $main-color;
			border-radius: 0px;

			input {
				color: $accent-color;
			}

			p {
				@include p-template ($text-color-inverse, $font-size-xsmall);
			}
			button {
				float: right;
				@include button-template ($text-color-inverse,$main-color,1.2em);
			}
		}
	}

/*My Account sidebar*/
nav.woocommerce-MyAccount-navigation {
	width: 100%;

	a.button {
		@include bp-sm-min { 
			width: 50%
		}
		padding: 5px 0px;
		margin: 2px;
		float: left;
		width: 100%;
		position: relative;
		background-color: white;
		border: 2px solid $accent-color;
		border-radius: 5px;
		text-align: center;
		font-family: $header-font-family;
		font-size: 1.2em;
		text-transform: uppercase;
		color: $text-color;
		text-align: center;
		&:hover, &:active, &:focus {
			font-family: $header-font-family;
			font-size: 1.2em;
			text-decoration: none;
			color: $text-color-inverse;
			background-color: $main-color;
			border: 2px solid $main-color;
			border-radius: 5px;
		}
	}
}

/*My Account content area*/
.woocommerce-MyAccount-content {
	h3 {
		@include header-template($font-size-medium, $text-color);
	}
	p,address {
		@include p-template ($text-color, $font-size-xsmall);
	}
	mark {
		background-color: $highlight-color;
		font-weight: 700;

	}
}

.woocommerce table.shop_table {
	border: 2px solid $accent-color;
	border-radius: 0px;
	thead {
		@include p-template ($text-color, $font-size-xsmall);
		font-weight: 700;
	}
	tbody,tfoot {
		tr {
			td, th {
				@include p-template ($text-color, $font-size-xsmall);
				border-top: 1px solid $accent-color;
			}
		}
	}

		a.button {
		font-family: $header-font-family;
		font-size: $font-size-small;
		text-transform: uppercase;
		background-color: white;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: white;
		border: 2px solid $text-color;
		border-radius: $button-border-radius;
		color: $text-color;
		&:hover {
			background-color: $main-color;
			border: 2px solid $main-color;
			border-radius: $button-border-radius; 
			color: $text-color-inverse;
		}
	}
}

/*Addresses*/
/*Account details*/
.edit-account, .woocommerce-address-fields {
	label {
		@include p-template ($text-color, $font-size-xsmall);
	}
	input {
		@include input-text;
		height: 30px;
	}
	legend {
		@include header-template($font-size-small, $text-color);
		border-bottom: 1px solid $accent-color;
	}
	button[type="submit"] {
		float:right;
		@include standard-button ($font-size-small);
	}
}

.woocommerce-info {
	@include p-template ($text-color, $font-size-xsmall);
	font-weight: 700;
	border: 1px solid $accent-color;
	border-radius: 0px;

	a.button {
		font-family: $header-font-family;
		font-size: $font-size-small;
		text-transform: uppercase;
		background-color: white;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: white;
		border: 2px solid $text-color;
		border-radius: $button-border-radius;
		color: $text-color;
		&:hover {
			background-color: $main-color;
			border: 2px solid $main-color;
			border-radius: $button-border-radius; 
			color: $text-color-inverse;
		}
	}
}

