@import "_partials/mixins";
@import "_partials/variables";
@import "_partials/typography";

#post, #about {
	padding-bottom: 1.5em;
	background-color: $main-color; 

	h2{
		@include header-template($font-size-large, $text-color-inverse);
		text-align: center;	
	}

	p {
		@include p-template-small ($text-color-inverse);
		text-align: center;	
		a {
			font-family: $base-font-family;
			color: $text-color-inverse;
			text-decoration: underline;
		}
	}
}
