/*.woocommerce-products-header {
	text-align:center;
	@include featured-product-template;
	padding: 0em 0em 2em;
}

.woocommerce .woocommerce-breadcrumb {
	padding: 1em;
	font-family: $base-font-family;
	font-size: $font-size-xsmall;
	color: $text-color-dark;
	text-transform: uppercase;
}

p.woocommerce-result-count {
	//display: none;
}

form.woocommerce-ordering {
	display: none;
}

/* ul.products {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
 		li {
 			text-align:center;
			margin: 2em;
 
			a {
				img {
					max-width: 250px;
					display: inline-block !important;
				}

				h2 {
					@include header-template($font-size-small, $text-color);
					font-size: 1.5em !important;
				}
				span {
					font-family: $base-font-family;
					font-size: $font-size-xsmall;
					color: $text-color;
				}
				.star-rating {
					justify-content: center;
					margin: auto !important;
					span {
							font-family: star;
							color: $main-color;
						}
				}
			}

			a.button {
				font-family: $header-font-family;
				font-size: 1em;
				text-transform: uppercase;
				background-color: $text-color-inverse;
				color: $text-color;
				border: 2px solid $text-color;
				border-radius: $button-border-radius;
				margin: auto;

				&:hover {
					font-family: $header-font-family;
					font-size: $font-size-xsmall;
					background-color: $main-color;
					color: $text-color-inverse;
					border: 2px solid $main-color;
					border-radius: $button-border-radius; 
				}
			}
		} 
} */