@import "mixins";
@import "variables";
@import "typography";

header.woocommerce-products-header {
	padding: 0px;
}
.woocommerce-products-header {
	text-align:center;
	@include featured-product-template;
	padding: 0em 0em 2em;
}

.woocommerce .woocommerce-breadcrumb {
	padding: 1em;
	font-family: $base-font-family;
	font-size: $font-size-xsmall;
	color: $text-color-dark;
	text-transform: uppercase;
}

p.woocommerce-result-count {
	display: none;
}

form.woocommerce-ordering {
	display: none;
} 
.woocommerce-pagination {
	.page-numbers {
		border-color: $accent-color;
		li	{
			border-color: $accent-color;
			color: $accent-color;
			font-family: $base-font-family;
		}
	}
}

.woocommerce {
	p.woocommerce-result-count {
		font-family: $base-font-family;
		font-size: $font-size-xsmall;
		color: $text-color; 
		text-transform: uppercase;
	}

	ul.products {
 		padding-top: 2em;
		li {
			text-align:center;
			margin: 2em;
			border: 1px solid transparent;
			img {
				max-width: 250px;
				display: inline-block !important;
				transition: transform .2s; /* Animation */
				&:hover{
					transform: scale(1.1);
				}
			}
			h2 {
				@include header-template($font-size-small, $text-color);
				font-size: 1.5em !important;
				&:before {
					border-bottom: 2px solid $accent-color;
				}
			}
			span {
				font-family: $base-font-family;
				font-size: $font-size-xsmall;
				color: $text-color;
			}
			.star-rating {
				justify-content: center;
				margin: auto !important;
				span {
					font-family: star;
					color: $main-color;
				}
			}
			a.button {
				font-family: $header-font-family;
				font-size: 1em;
				text-transform: uppercase;
				background-color: $text-color-inverse;
				color: $text-color;
				border: 2px solid $text-color;
				border-radius: $button-border-radius;
				margin: auto;
				@include transitions;
				&:hover {
					font-family: $header-font-family;
					font-size: $font-size-xsmall;
					background-color: $main-color;
					color: $text-color-inverse;
					border: 2px solid $main-color;
					border-radius: $button-border-radius; 
				}
			}
			a.wc-forward {
				@include  p-template ($text-color, $font-size-xsmall);
				@include transitions;
				&:hover {
					@include  p-template ($text-color, $font-size-xsmall);
					text-decoration: underline;
				}
			}
		}
	}
}

#featured-products {
	padding: 3em 0em 5em;

	h1 {
		@include header-template($font-size-large, $text-color);
		text-align: center;
	}

	#items {
		padding: 2em 0em 2em;
	}
}

#indiegogo_cart{
		font-family: $header-font-family;
		font-size: 1em;
		text-transform: uppercase;
		background-color: $indiegogo-color;
		color: $text-color-inverse;
		border: 2px solid $indiegogo-color;
		border-radius: $button-border-radius;
		margin: auto;
		@include transitions;
		&:hover {
			font-family: $header-font-family;
			font-size: $font-size-xsmall;
			background-color: darken($indiegogo-color, 10%);
			color: $text-color-inverse;
			border: 2px solid darken($indiegogo-color, 10%);
			border-radius: $button-border-radius; 
			}
}