@import "mixins";
@import "variables";
@import "typography";

.woocommerce-breadcrumb {
	@include p-template-small (#B91514);
	font-weight: 700;
	a {
		color: #B91514;
	}
}

#single-product-summary {
	.before-single-product {
		.images {
			@include bp-sm-max {
				width: 100%;
			}
			width: 80%;

			img {
			 	max-width: 100%;
 			    height: auto;
			    position:relative;
				margin: 0px;
			}
		}
	}

	.summary {
		float: left;
		width: 100%;

		h1.entry-title {
			font-family: $header-font-family;
			text-transform: uppercase;
			color: $text-color;
		}
		.woocommerce-product-details__short-description p { 
			@include p-template ($text-color, $font-size-xsmall);
		}

		.woocommerce-product-rating {
			a {
				@include p-template ($text-color, $font-size-xsmall);
				text-transform: uppercase;
    			font-weight: 700;

			}
		}

		.price {

			.price-description, .amount {
				font-family: $base-font-family;
				font-size: $font-size-small;
				font-weight: 700;
				color: $text-color; 
			}
		}

		p.stock {
			font-family: $base-font-family;
			font-size: $font-size-xsmall;
			color: $main-color; 
		}

		.product_meta {
			span {
				font-family: $base-font-family;
				font-size: $font-size-xsmall;
				color: $text-color; 
				a {
					color: $main-color;
				}
			}
		}

		form.cart {
			.quantity {
				input {
					background-color: $text-color-inverse;
					border: 2px solid $accent-color;
					border-radius: $button-border-radius;
					margin: auto;
				}
			}

			a {
				float: right;
				@include standard-button ($font-size-small);
				text-decoration: none;
				padding: 5px;
			}

			button {
				width: 80%;
				float: right;
				@include standard-button ($font-size-small);
			}
		}
	}
}

#after-product-summary{
	.woocommerce-tabs {
		ul.tabs {
			h2 {
				@include header-template($font-size-small, $text-color);
			}

			p {
				font-family: $base-font-family;
				font-size: $font-size-xsmall;
				color: $text-color;
			}

			li {
				@include bp-sm-max {
					width: 100%;
					border-radius: 0; 
					margin-top: 5px;
					z-index: 0;
    				position: static;
				}

				background-color: $white;
				border: 2px solid $accent-color;
				border-radius: 10px 10px 0 0;
				margin: auto;
				z-index: 0;
    			position: static;

				&:active, &:hover, &:focus {
					background-color: $accent-color;
					color: $text-color-inverse;
				}

				a {
					padding:.5em .5em;
					font-family: $base-font-family;
					font-size: $font-size-xsmall;
					color: $text-color; 
					&:hover {
						color: $text-color-inverse;
					}
				}
			}
				&:before {
					border-bottom: 2px solid $accent-color;
				}
		}

		#tab-additional_information {
			h2 {
				@include header-template($font-size-small, $text-color);
			}
			table tbody tr {
				font-family: $base-font-family;
				font-size: $font-size-xsmall;
				color: $text-color;
				th {
					font-family: $base-font-family;
					font-size: $font-size-xsmall;
					color: $text-color;
					font-weight: 700;
				}
				td {
					font-family: $base-font-family;
					font-size: $font-size-xsmall;
					color: $text-color;
					font-style: italic;
				}
			}
		}
		#tab-reviews {
			h2 {
				@include header-template($font-size-small, $text-color);
			}
			p, span {
				font-family: $base-font-family;
				font-size: $font-size-xsmall;
				color: $text-color;
			}

			#commentform {
				.comment-form-rating {
					label {
						font-family: $base-font-family;
						font-size: $font-size-xsmall;
						color: $text-color;
						font-weight: 700;
					}

					.stars a {
						color: $main-color;
					}
				}

				.form-submit {
					input[type=submit] {
						@include standard-button ($font-size-xsmall);
					}
				}

				label {
					font-family: $base-font-family;
					font-size: $font-size-xsmall;
					color: $text-color;
					font-weight: 700;
				}
			}

			.commentlist {
				.comment_container .comment-text{
					.star-rating {
						span {
							font-family: star;
							color: $main-color;
						}
					}
				}
			}
		}
	}

	.related, .upsells {
		h2 {
			@include header-template($font-size-medium, $text-color);
			border-bottom: 2px solid $accent-color;
		    padding-top: 20px;
		    padding-bottom: 5px;
		}
		ul {
			padding-top: 2.5em;
			justify-content: left;
    		align-items: center;
    		
    		h2 {
    			border-bottom: none;
    		}
		}
	}
}