
#target-info {
	h2 {
		text-align: center;
		font-size: 4em;
	}
}

.push-switch {
	@include bp-sm-min {
		float:right !important;
	}
}

#featured-product-1, #featured-product-2, #featured-product-3 {
	@include featured-product-template2;
	h1 a {
		color: $text-color;
		text-decoration: underline;
	}
	p a.btn {
			padding: 5px 5px 5px 15px;
			font-family: $header-font-family;
			font-size: $font-size-xsmall;
			text-transform: uppercase;
			background-color: $main-color;
			color: $text-color-inverse;
			border: 1px solid $main-color;
			border-radius: $button-border-radius;
			margin: auto;
			

			&:hover i:before {
				@include transitions;
				color: transparent;
			}

			&:hover i:after {
				padding-left: .2em;
				left: 0;
				position: absolute;
				font-family: "foundation-icons";
				content: "\f1f5";
				color: $highlight-color;
			}

			i {
				font-size: 1em;
				padding-left: .25em;
				padding-right: .15em;
				position: relative;
				color: $text-color-inverse;
			}
		}
}

#game-modes {
	h1 {
		@include header-template($font-size-large, $text-color);
		text-align: center;
	}
	.row {
		display: flex;
	}
	.column {
		flex: 50%;
		padding: 5px;
	}
	#column-1 {
		text-align: right;
	}
	#column-2 {
		text-align: left;
	}
	img {
		padding-bottom: 10px;
	}
	p {
		@include p-template ($text-color, $font-size-xsmall);
	}
}