/*_typography.scss*/
$text-color-dark: #000000;
$text-color: #333333;
$text-color-inverse: #FFFFFF;
$base-font-family: 'Lato', sans-serif;
$header-font-family: 'Anton', sans-serif;
$base-font-weight: 400;
$font-size-xsmall: 1em;
$font-size-small: 1.5em;
$font-size-medium: 2em;
$font-size-large: 3em;
$font-size-xlarge: 5em;