/*_variables.scss */
/* Body Text Styles */
/* $text-color: #000000;
$base-font-size: 16px;
$base-font-family: 'Lato', sans-serif;
$base-font-weight: 400;

$header-font-family: 'Anton', sans-serif; */
